@import "../../styles.scss";

#SITE_HEADERinlineContent {
    height: auto;
    width: 100%;
    position: relative;
  }

  header{
      padding-top: 35px;

      .navBox{
        margin-top: 55px;
      }

      nav{
        font: normal normal bold 14px/1.2em 'noticia text',serif;
        
        ul li{
            display: inline-block;
            padding: 0px 17px;

            a{
                color: $green;
            }
            a:hover{
                text-decoration: none;
                color: $charcoal;
            }
        }
        ul li.active a{
            color: $charcoal;
        }
      }
  }

//   #TINY_MENU {
//     position: relative;
//     justify-self: start;
//     align-self: start;
// }

.tm1menuButton {
    border-radius: 4px;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(77, 77, 77, 1);
    border: solid 1px rgba(255, 255, 255, 1);
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: #ffffff;
}

.tm1fullScreenOverlay {
    pointer-events: none;
    position: fixed;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.3s -webkit-transform step-end;
    transition: 0.3s -webkit-transform step-end;
    transition: 0.3s transform step-end;
    transition: 0.3s transform step-end, 0.3s -webkit-transform step-end;
    min-height: 100%;
}

#navMobile{
    position: absolute;
    height: 100%;
    top: 100px;
    width: 95%;
    overflow: hidden;
    transform: translateZ(0);
    z-index: 1;
    opacity: 1;
    background-color: $black;

    ul{
        list-style-type: none;
        padding: 0;
        transform: translateY(-100%);
        top: 50%;
        position: relative;
        li{
            line-height: 4;
            text-align: center;
            padding: 0px 30px;
            margin: 0;
            hr{
                border-color: white;
            }
           a{
            color: $green;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
           }
        }
        li.active a{
            color: $charcoal;
        }
    }
}
@media only screen and (max-width: 767px){
    .headerName{
        width: 80%
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .mediumHeader{
        padding-left: 5%;
        text-align: center;
    }
    .mediumNav{
        padding-left: 25%;
    }
}