<header class="container row">
<div class="offset-md-2 col-md-4">
  <div class="font_0">
    <span>
      Shivam Swarnkar
    </span>
  </div>

  <div class="font_5">
    <span class="font-weight-bold">
      Front End Developer
    </span>
  </div>
</div>
  <div class="col-md-6 navBox">
    <nav class="navbar navbar-default">
        <ul>
          <li [routerLinkActive]="['active']"><a [routerLink]="['home']">HOME</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['resume']">RESUME</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['projects']">PROJECTS</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['contact']">CONTACT</a></li>
        </ul>

    </nav>
  </div>
</header>