@import "../../styles.scss";

#SITE_HEADERinlineContent {
    height: auto;
    width: 100%;
    position: relative;
  }

  header{
      padding-top: 35px;

      .navBox{
        margin-top: 55px;
      }

      nav{
        font: normal normal bold 14px/1.2em 'noticia text',serif;
        
        ul li{
            display: inline-block;
            padding: 0px 17px;

            a{
                color: $green;
            }
            a:hover{
                text-decoration: none;
                color: $charcoal;
            }
        }
        ul li.active a{
            color: $charcoal;
        }
      }
  }