
element.style {
    background-image: none;
}
.bgis2bg {
    background-color: #00c483;;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0px solid #00c483;;
    border-bottom: 0px solid #00c483;;
}
footer{

    // background-color: rgba(232, 53, 86, 1);
    // border-top: 0px solid rgba(232, 53, 86, 1);
    // border-bottom: 0px solid rgba(232, 53, 86, 1);
    padding: 40px 0px;
    color: #00c483;;
    margin-bottom: 50px; 

    svg{
        vertical-align: bottom;
    }
    .svgImage{
        width:45px;
        height:45px;
        stroke-width:0;
        fill-opacity:1;
        stroke:rgba(0, 0, 0, 1);
        stroke-opacity:1;
        fill:#00c483;;
        display: inline-block;
    }
    .svgText{
        display: inline-block;
        margin-left: 15px;

        a{
            color: inherit;
        }
        a:hover{
            text-decoration: none;
        }
    }
}