<main class="row container">
  <div class="offset-lg-2 col-lg-10">
    <h1 class="font_3">PROJECTS</h1>

    <div class="projectLine">
      <div class="projectDot">
        <div class="projectBox">
          <div>
            <span>
              <h2 class="font_5"><a href="https://www.wiley.com/en-us" target="_blank" class="projectLink">Wiley</a>
              </h2>
            </span>
          </div>
          <div>
            <div>
              <h3 class="font_5">Description:</h3>
              <p>Interactive tutorial website development for students.</p>
            </div>

            <div>
              <h3 class="font_5">Roles:</h3>
              <ul>
                <li>Complete website development using technologies like HTML5, CSS3, W3C, JQuery, JavaScript, and its framework Angular/TypeScript</li>
                <li>Leading a team of 4 developers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="projectDot">
        <div class="projectBox">
          <div>
            <span>
              <h2 class="font_5"><a href="https://www.wideroe.no/en" target="_blank" class="projectLink">Wideroe
                  Airlines</a></h2>
            </span>
          </div>
          <div>
            <div>
              <h3 class="font_5">Description:</h3>
              <p>Wideore is a flight booking site operating in the Nordic countries</p>
            </div>
            <div>
              <h3 class="font_5">Roles:</h3>
              <ul>
                <li>Web development using AngularJS, HTML5, CSS3 and W3C</li>
                <li>Mainly worked on Angular custom directives to solve functionality challenges</li>
                <li>Worked on defects raised during internal testing and UATs</li>
                <li>Improved code standard, developed the code keeping best practices in mind</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="projectDot">
        <div class="projectBox">
          <div>
            <span>
              <h2 class="font_5"><a href="https://www.rci.com/" target="_blank" class="projectLink">Group &ndash;
                  RCI</a></h2>
            </span>
          </div>
          <div>
            <div>
              <h3 class="font_5">Description:</h3>
              <p>RCI is a division of the firm Wyndham Worldwide is the world's largest holiday timeshare company.</p>
            </div>
            <div>
              <h3 class="font_5">Roles:</h3>
              <ul>
                <li>Responsible for creating/converting static webpage implementation into a responsive one from a UI perspective</li>
                <li>Accessibility consulting to improve code standards</li>
                <li>Supporting integration/back-end developers with UI inputs and working on defects raised during internal testing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="projectDot">
        <div class="projectBox">
          <div>
            <span>
              <h2 class="font_5"><a href="https://www.etihadengineering.com/" target="_blank" class="projectLink">Etihad
                  Engineering</a></h2>
            </span>
          </div>
          <div>
            <div>
              <h3 class="font_5">Description:</h3>
              <p>This website is for engineers of Etihad Airways.</p>
            </div>
            <div>
              <h3 class="font_5">Roles:</h3>
              <ul>
                <li>Responsible for creating/converting static webpage implementation into a responsive one from a UI perspective</li>
                <li>Accessibility consulting to improve code standards</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>