<main class="row container">
  <div class="offset-lg-2 col-lg-10">
    <h1 class="font_3">RESUME</h1>
  </div>
  <div class="offset-lg-2 col-lg-7">
    <div>
      <div class="hl1"></div>
      <div class="row resumeSingleBox">
        <div class="col-lg-4">
          <div class="roundBox">
            <span>
              <h2 class="font_6">Profile summary</h2>
            </span>
          </div>
        </div>
        <div class="col-lg-8">
          <p class="font_8">Frontend web developer redefining UI/UX with the help of JavaScript and its framework like Angular, and delivering
            highly optimized, performant and secure products.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="row resumeSingleBox">
        <div class="col-lg-4">
          <div class="roundBox">
            <span>
              <h2 class="font_6">Work Experience</h2>
            </span>
          </div>
        </div>
        <div class="col-lg-8">
          <div>
            <div class="resumeBoxHeading">
              <div class="companyName">
                <h3 class="font_6 headingText">LearningMate Solutions</h3>
              </div>
              <div class="companyDate">
                <span class="font_6 headingText">Software Engineer</span>
                <span class="font_6 float-right headingText">Apr, 2019 &ndash; Present</span>
              </div>
            </div>
            <p class="font_8">Working as a Front-end developer in technologies like Angular2+, Typescript, Javascript, HTML, CSS. Mainly worked
              on education domain.</p>
            <p class="font_8">Developement of websites for American colleges and university. These websites contained the course material as
              well as internal evaluation test. My work was to create the structure of website and implement all the functionality.</p>
          </div>

          <div class="marginTop80">
            <div class="resumeBoxHeading">
              <div class="companyName">
                <h3 class="font_6 headingText">Cognizant Technology Solutions</h3>
              </div>
              <div class="companyDate">
                <span class="font_6 headingText">Programmer Analyst</span>
                <span class="font_6 float-right headingText">Aug, 2016 &ndash; Apr, 2019</span>
              </div>
            </div>
            <p class="font_8">Working as a Front-end developer in technologies like Angular2+, AngularJS Typescript, Javascript, HTML, CSS.
              Mainly worked on Travel and hospitality domain.</p>
            <p class="font_8">Developement of flight booking and time sharing websites. These websites had high level of interatcivity and
              dynamic data to handle.</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="row resumeSingleBox">
        <div class="col-lg-4">
          <div class="roundBox educationHeading">
            <span>
              <h2 class="font_6">Education</h2>
            </span>
          </div>
        </div>
        <div class="col-lg-8">
          <div>
            <div class="resumeBoxHeading">
              <div class="companyName">
                <h3 class="font_6 headingText">Galgotias University</h3>
              </div>
              <div class="companyDate">
                <span class="font_6 headingText">2012 &ndash; 2016</span>
              </div>
            </div>
            <p class="font_8">Graduated B.Tech in computer science with 7.6 CGPA.</p>
          </div>
          <div>
            <div class="resumeBoxHeading">
              <div class="companyName">
                <h3 class="font_6 headingText">DAV Public School</h3>
              </div>
              <div class="companyDate">
                <span class="font_6 headingText">2010 &ndash; 2012</span>
              </div>
            </div>
            <p class="font_8">Secondary education from CBSE board with PCM stream, passed with 80% marks.</p>
          </div>
          <div>
            <div class="resumeBoxHeading">
              <div class="companyName">
                <h3 class="font_6 headingText">Don Bosco School</h3>
              </div>
              <div class="companyDate">
                <span class="font_6 headingText">2010</span>
              </div>
            </div>
            <p class="font_8">Primary education from ICSE board, passed with 85% marks.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="skillIcon">
      <svg data-bbox="0.2 0.3 200 200" viewBox="0.2 0.3 200 200" role="img">
        <g>
          <path d="M90.6 46.6C79.8 48.5 70.2 55 62.7 61H79c3.2-3 7.1-10.3 11.6-14.4z"></path>
          <path d="M75.8 67H57.3C51 77 47.1 85 46.7 97h22.1c.2-12 2.7-20 7-30z"></path>
          <path d="M68.8 102h-22c.7 11 3.9 18 8.8 26h19.1c-3.4-8-5.4-15-5.9-26z"></path>
          <path d="M118.5 128c3.7-8 6-15 6.5-26H75c.5 11 2.8 18 6.5 26h37z"></path>
          <path d="M137.3 61c-7.5-6-17.2-12.5-27.9-14.4 4.5 4.2 8.4 11.4 11.6 14.4h16.3z"></path>
          <path d="M117.3 67H82.6c-4.7 10-7.4 18-7.7 30H125c-.3-12-3-20-7.7-30z"></path>
          <path d="M113.6 61c-3.8-6-8.4-10.4-13.7-14.2C94.7 50.6 90 55 86.3 61h27.3z"></path>
          <path d="M131.2 97h22.1c-.4-12-4.3-20-10.6-30h-18.5c4.2 10 6.7 18 7 30z"></path>
          <path d="M100.2.3C45 .3.2 45 .2 100.3c0 55.2 44.8 100 100 100s100-44.8 100-100c0-55.3-44.7-100-100-100zm-.2 158.3c-32.8 0-59.5-26.7-59.5-59.5S67.2 39.6 100 39.6s59.5 26.7 59.5 59.5c-.1 32.8-26.8 59.5-59.5 59.5z"></path>
          <path d="M77.7 134H60.5c7.8 9 18.2 14.6 30.1 16.7-5.2-4.8-9.5-11.7-12.9-16.7z"></path>
          <path d="M125.2 128h19.1c5-8 8.1-15 8.8-26h-22c-.5 11-2.5 18-5.9 26z"></path>
          <path d="M84.8 134c4 8 9.1 12.2 15.2 16.5 6-4.4 11.1-8.5 15.2-16.5H84.8z"></path>
          <path d="M109.4 150.7c11.8-2.1 22.3-7.7 30.1-16.7h-17.2c-3.5 5-7.8 11.9-12.9 16.7z"></path>
        </g>
      </svg>
    </div>
    <div class="skillHeading">
      <h2 class="font_4">Skills</h2>
    </div>
    <div>
      <div class="hl1"></div>
      <div class="skillListHeading">
        <h3 class="font_6 headingText">Programming Languages</h3>
      </div>
      <div class="skillList font_8">
        <ul>
          <li>Angular2+</li>
          <li>TypeScript</li>
          <li>AngularJS</li>
          <li>JavaScript</li>
          <li>ECMAScript</li>
          <li>JQuery</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SCSS</li>
          <li>karma</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="skillListHeading">
        <h3 class="font_6 headingText">WEBSITE DESIGN APPROACH</h3>
      </div>
      <div class="skillList font_8">
        <ul>
          <li>Responsive Web Design</li>
          <li>Accessible</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="skillListHeading">
        <h3 class="font_6 headingText">FRAMEWORK</h3>
      </div>
      <div class="skillList font_8">
        <ul>
          <li>Angular</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="skillListHeading">
        <h3 class="font_6 headingText">TOOLS</h3>
      </div>
      <div class="skillList font_8">
        <ul>
          <li>Visual Studio Code</li>
          <li>Git</li>
          <li>JAWS</li>
          <li>NVDA</li>
          <li>VoiceOver</li>
          <li>Talkback</li>
          <li>SoureTree</li>
          <li>JIRA</li>
          <li>SVN</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hl1"></div>
      <div class="skillListHeading">
        <h3 class="font_6 headingText">SECONDARY SKILLS</h3>
      </div>
      <div class="skillList font_8">
        <ul>
          <li>Accessibility Consultancy</li>
          <li>WCAG Guidelines</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="download offset-lg-2 col-lg-10">
    <a href="../assets/pdf/Shivam_Swarnkar_Resume.pdf" download class="font_8">DOWNLOAD RESUME</a>
  </div>
</main>