<main class="container row">
  <div class="offset-md-2 col-md-4 profilePic">
    <img src="../assets/images/peter.jpg" alt="profile pic">
  </div>

  <div class="col-md-6 mainContent marginTop25">
    <h1 class="font_3">
      <span style="font-weight:bold;">Hello,</span>
    </h1>
    <div class="font_4">a bit&nbsp;about me:</div>
    <!-- <div class="row">
      <div class="resumeLinkBox col-md-4">
        <a (click)="navigation('resume')">
          MY RESUME
        </a>
      </div>
      <div class="workLinkBox col-md-4">
        <a (click)="navigation('projects')">
          MY WORK
        </a>
      </div>
      <div class="skillsLinkBox col-md-4">
        <a (click)="navigation('resume')">
          MY SKILLS
        </a>
      </div>
    </div> -->
    <div class="marginTop25">
      <p class="font_8">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me
        and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you
        like on your page. I’m a great place for you to write more. Tell a story and let your users get to know you.</p>
    </div>
  </div>
</main>